@font-face {
  font-family: "Signa Latina";
  src: url("/common/fonts/signa-latina.otf");
}

html {
  min-width: 320px;
}

body,
select,
button {
  font-family: "Montserrat", sans-serif;
  letter-spacing: .02em;
}

body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  background-color: #E5E5E5;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background-color: #9ddfff;
  padding: 10px 20px;
}

button {
  user-select: none;
  -webkit-user-select: none;
}

select:focus,
button:focus {
  outline: none;
}

.row {
  margin-left: 0 !important;
  width: 100%;
}

h1, .h1 {
  font-size: 45px;
  font-weight: bold;
}

h2, .h2 {
  font-size: 30px;
  font-style: italic;
  font-weight: normal;
}

.u-signum {
  font-family: "Signa Latina";
  font-style: normal;
  font-size: 120px;
  color: #92222c;
}

.u-text-center {
  text-align: center;
}

.VerticalLayout {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

.Button {
  border: 1px solid #333;
  background-color: #ffff99;
}

.Button:active {
  background-color: lightgray;
}

.Button--large {
  font-size: 25px;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
}

.TopBar {
  height: 70px;
  margin-bottom: 25px;
  background-color: #ff9a8e;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.TopBar-Button {
  width: 150px;
}

.Controls {
  margin-bottom: 30px;
  padding: 0 50px;
}

.Images {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;
}

.ImageItem {
  width: 50%;
}

.ImageItem-imageContainer {
  height: 50vh;
  padding: 0 30px;
  margin-bottom: 15px;
}

.ImageItem-image {
  max-width: 30vw;
  max-height: 100%;
}

.ImageItem-labels {
  display: flex;
  padding: 0 30px;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.ImageItem-labels-vocab {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ImageItem-labels-signum {
  font-size: 60px;
  text-shadow: #333 2px 2px 4px;
}

.ImageItem-labels-signum:not(:empty) {
  margin-left: 25px;
}

.Info {
  height: 105px;
}

.Info-tense--signum {
  font-size: 120px;
  text-shadow: #333 3px 3px 5px;
}

.VocabChooser {
  font-size: 25px;
  align-self: center;
}

@media screen and (max-device-width:1023px) {
  body {
    font-size: 16px;
  }

  h1, .h1 {
    font-size: 21px;
  }

  h2, .h2 {
    font-size: 16px;
  }

  .Button--large {
    font-size: 16px;
    padding: 10px 15px;
  }

  .TopBar {
    height: 60px;
    margin: 0;
    flex-shrink: 0;
    order: 3;
    background: none;
    border: none;
    -webkit-flex-shrink: 0;
    -webkit-order: 3;
  }

  .TopBar-Button {
    width: 100px;
  }

  .Controls {
    flex-shrink: 0;
    order: 2;
    margin-bottom: 15px;
    padding: 0 20px;
    -webkit-flex-shrink: 0;
    -webkit-order: 2;
  }

  .Images {
    padding: 2vh;
  }

  .ImageItem {
    width: 100%;
  }

  .ImageItem-imageContainer {
    margin-bottom: 5px;
  }

  .ImageItem-image {
    padding: 0 15px;
    max-width: 150px;
  }

  .ImageItem-labels {
    height: 30px;
  }

  .ImageItem-labels-signum {
    font-size: 30px;
    text-shadow: #333 1px 1px 3px;
  }

  .ImageItem-labels-signum:not(:empty) {
    margin-left: 15px;
  }

  .Info {
    height: 45px;
    margin-bottom: 20px;
  }

  .Info-tense--signum {
    font-size: 60px;
    text-shadow: #333 2px 2px 4px;
  }

  .VocabChooser {
    font-size: 16px;
  }
}

@media screen and (max-device-width:767px) and (orientation:portrait) {
  .VerticalLayout {
    height: calc(100vh - 80px);
  }

  .Info {
    order: 1;
    width: 100%;
    -webkit-order: 1;
  }

  .VocabChooser--noun1 {
    order: 2;
    -webkit-order: 2;
  }

  .VocabChooser--noun2 {
    order: 3;
    -webkit-order: 3;
  }

  .Images {
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    -webkit-flex-direction: column;
    -webkit-flex-grow: 1;
    -webkit-justify-content: space-around;
  }

  .ImageItem-imageContainer {
    height: 18vh;
  }
}

@media screen and (max-device-width:1023px) and (orientation:landscape) {
  .VerticalLayout {
    height: calc(100vh - 45px);
  }

  .Info {
    margin-bottom: 0;
  }

  .Images {
    padding: 4vh;
  }

  .ImageItem-imageContainer {
    height: 35vh;
  }
}