@font-face {
  font-family: "Signa Latina";
  src: url("../fonts/signa-latina.otf");
}

html {
  min-width: 320px;
}

body,
select,
button {
  font-family: "Montserrat", sans-serif;
  letter-spacing: .02em;
}

body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  background-color: #E5E5E5;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background-color: #9ddfff;
  padding: 10px 20px;
}

select:focus,
button:focus {
  outline: none;
}

h1, .h1 {
  font-size: 50px;
  font-weight: bold;
}

h2, .h2 {
  font-size: 35px;
  font-style: italic;
  font-weight: normal;
}

.u-signum {
  font-family: "Signa Latina";
  font-style: normal;
  color: #92222c;
  text-shadow: #333 3px 3px 5px;
}

.u-text-center {
  text-align: center;
}

.Button {
  border: 1px solid #333;
  background-color: #ffff99;
}

.Button:active {
  background-color: lightgray;
}

.Button--large {
  font-size: 25px;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
}

.TopBar {
  height: 70px;
  background-color: #ff9a8e;
  border-bottom: 1px solid #333;
}

.TopBar-Button {
  width: 150px;
}

.ImageItem-imageContainer {
  height: 50vh;
  margin-bottom: 15px;
}

.ImageItem-image {
  padding: 0 30px;
  max-width: 100%;
  max-height: 100%;
}

.ImageItem-labels {
  display: flex;
  flex-direction: row;
}

.ImageItem-labels-signum {
  display: none;
  font-size: 60px;
  margin-left: 25px;
}

.ImageItem-labels-signum:not(:empty) {
  display: block;
}

.Tense--signum {
  font-size: 120px;
}

.VocabChooser {
  font-size: 25px;
  margin-bottom: 40px;
}

@media screen and (max-width:767px) {
  body {
    font-size: 16px;
  }

  h1, .h1 {
    font-size: 21px;
  }

  h2, .h2 {
    font-size: 16px;
  }

  .Button--large {
    font-size: 16px;
    padding: 10px 15px;
  }

  .TopBar-Button {
    width: 100px;
  }

  .ImageItem-imageContainer {
    height: 200px;
  }

  .ImageItem-image {
    padding: 0 15px;
  }

  .ImageItem-labels {
    flex-direction: column;
  }

  .ImageItem-labels-signum {
    font-size: 40px;
    margin-left: 0;
  }

  .Tense--signum {
    font-size: 70px;
  }

  .VocabChooser {
    font-size: 16px;
    margin-bottom: 25px;
  }
}
