@font-face {
  font-family: "Signa Latina";
  src: url("/common/fonts/signa-latina.otf");
}

html {
  min-width: 320px;
}

body {
  font-family: "Montserrat", sans-serif;
}

button {
  font-family: "Montserrat", sans-serif;
}

a:visited {
  color: blue;
}

.text-center {
  text-align: center;
}

.text-signum {
  font-family: "Signa Latina";
  font-style: normal;
  color: #92222c;
}

.font-bold {
  font-weight: 600;
}

.red {
  color: #B84D4D;
}

.mar-b-5 {
  margin-bottom: 5px;
}

.mar-b-20 {
  margin-bottom: 20px;
}

.mar-t-20 {
  margin-top: 20px;
}

.PageLinks {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.VerticalLayout {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}
