body {
  font-size: 40px;
}

button {
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid #333;
  font-size: 30px;
}

.ImageContainer {
  height: 350px;
  margin-bottom: 20px;
  text-align: center;
}

.Image {
  max-height: 100%;
}

.Vocab {
  margin-bottom: 15px;
  text-align: center;
}

.Case {
  margin-bottom: 30px;
  text-align: center;
}

.Controls {
  text-align: center;
}

