body {
  font-family: "Baloo", sans-serif;
  font-size: 6vh;
  background-color: #ffffcc;
  padding: 5vh;
}

button {
  font-family: "Baloo", sans-serif;
  font-size: 4vh;
  padding: 1vh 3vh;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #91ABF7;
}

button:active {
  background-color: #C8C8C8;
}

button:focus {
  outline: none;
}

.ImageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45vh;
}

.ImageContainer-Image {
  max-height: 100%;
  max-width: 100%;
}
